@charset "UTF-8";

* { margin: 0; padding: 0; }

a { text-decoration: none; color: red;}

p {margin-top: 10px; margin-bottom: 15px; font-size: 18x; color: #444}



.clearfix {overflow: auto}

.wrapper{
	margin: 0 auto;
	width: 1000px;
}

.top-bar{
	width: 1000px;
	background: maroon;
}

.top-bar-links{
	margin: 15px;
	float: left;
}

.top-bar-links ul{
	list-style: none;
}

.top-bar-links ul li{
	padding: 0 10px;
	display: inline-block;
	border-right: 1px solid white;
}

.top-bar-links ul li : last-child {
	border: none;
}

.top-bar-links ul li a{
	color: white;
}

.site-search {
	padding: 3px 10px ;
	margin: 15px;
	float: right;
	background: white;
	border-radius: 10px;

}

.site-search input {
	border: 0;
	float: left;
}

div.site-search button {
	width: 50px;
	height: 19px;
	background: url("imagee.gif");
	border: 0;
	float: right;
}







header .logo {
	margin-top: 30px; 
	margin-left: 20px;
	float: left
}

header .logo h1 {
	font-size: 48px;
	font-weight: normal;
	letter-spacing:  -1px;
	font-variant: small-caps;
}

header .Socialmeadia ul { 
	float: right;
	margin-top: 50px;
	margin-right: 20px;
	 }

header .Socialmeadia ul {
	list-style:none 
}

header .Socialmeadia ul li {
 	display: inline
  }

header .Socialmeadia ul li a{
	margin-left: 5px;
	padding: 6px;
	background: #444;
	color: #fff;
	display: inline-block;
	border-radius: 20px;
}

header .Socialmeadia ul li a:hover {
	background: orange;
}






nav {
	margin-top: 20px;
	background: #000;
	background: linear-gradient(#0d0d0d, #666666 ,#0d0d0d);
	text-align: center;
	border-radius: 7px;  
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	color: #fff;
	text-transform: uppercase;
	margin: 15px 50px 15px 50px;
	display: inline-block;
}
nav ul li a:hover {
	color: orange;
}





.Method {
	margin-top: 30px; 
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	color: blue;
}





.slider {
	width: 450px;
	margin: 2em auto;
	
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
div.intro div.introtext {
	width: 500px;
	float: left;
}

div.intro h1 {
	font-weight: normal;
	margin-top: 100px;
	font-size: 48px;
	text-transform: uppercase; 
}

div.introtext p { 
	font-size: 18px;
}

div.introtext a {
	text-transform: uppercase;
	float: right;
}











div.choise1 {
	width: 1000px;
	background: #eee;
	margin-bottom: 15px;
	padding-bottom: 15PX; 
}

div.city {
	margin-left: 15px;
	width: 313.3px;
	float: left;
	
}

div.city img{
	width: 310px;
	height: 200px;
	margin-bottom: 20px;
}

div.choise1 div.city li a {
	float: left;
	font-size: 35px;
	margin: 20px 10px 20px 10px;
	text-transform: uppercase;
}

div.city h2 {
	margin: 30px 0px 30px 0px;
	width: 300px;
	font-size: 40px;
	font-weight: normal;
	color: red;
}

div.city li a:hover {
	color: orange;
}

div.city a {
	float: right;
}

div.services img {
	width: 64px;
	height: 64px;
	float: left;
	margin-right: 15px;
	margin-top: 10px;
}

div.services img {
	margin-top: 10px;
}





div.copyrights {
	width: auto;
	background: #eee;
	
}

div.left {
	float: left;
	margin: 30px;
}

div.rights {
	float: right;
	margin: 30px;
}



div.homecontent {
	width: auto;
	background: #eee;
	margin-bottom: 15px;
	padding-bottom: 15PX; 
}

div.home-col {
	margin-left: 15px;
	width: 600px;
	float: left;
}

div.home-col img{
	width: 600px;
	height: 300px;
}

div.home-col h2 {
	margin: 30px 0 30px 0;
	width: auto;
	font-size: 30px;
	font-weight: normal;
}

div.home-col a {
	float: right;
}


